* text=auto eol=lf
*.lock binary
app-arch/unalz/files/*.patch binary
app-pda/altserver/files/altserver-altsign.patch binary
games-arcade/stepmania/files/stepmania-libtom-use-pkgconfig.patch binary
games-emulation/sudachi/files/*.patch binary
