!/metadata/layout.conf
!/metadata/pkgcheck.conf
.*~
.cspellcache
.directory
.ruff_cache/
/.claude/plans/
/.yarn/install-state.gz
/metadata/*
/missing-test-deps.md
/node_modules/
/phase*.json
/tests-audit.csv
