[MAIN]
ignore=.git,node_modules
ignore-patterns=.*\.pyi
jobs=0
load-plugins=pylint_quotes

[MESSAGES CONTROL]
disable=fixme,
        invalid-triple-quote,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
				too-few-public-methods,
        too-many-boolean-expressions,
        too-many-branches,
        too-many-instance-attributes,
        too-many-locals,
        too-many-return-statements,
        too-many-statements,
        unspecified-encoding,
        use-dict-literal

[REFACTORING]
max-nested-blocks=6

[LOGGING]
logging-format-style=old
logging-modules=logging

; [VARIABLES]
; allow-global-unused-variables=no

[FORMAT]
expected-line-ending-format=LF

[SIMILARITIES]
ignore-imports=no

[BASIC]
class-attribute-naming-style=snake_case
good-names=a,
           b,
					 bn,
           cp,
					 dn,
           e,
           f,
           g,
           i,
           id,
           j,
           k,
           m,
           n,
           r,
					 s,
					 tf,
           x,
           y,
           z
include-naming-hint=yes
inlinevar-naming-style=snake_case
module-naming-style=any

[DESIGN]
max-args=8
max-branches=15
max-locals=30
max-statements=80
