[Unit]
Requires=tabbyapi.service
After=tabbyapi.service
Requires=tabbyapi.socket
After=tabbyapi.socket
JoinsNamespaceOf=tabbyapi.service

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd --exit-idle-time=5min 127.0.0.1:4800
PrivateTmp=yes
