[Unit]
Description=Update Pi-hole macvendor.db monthly

[Timer]
OnCalendar=monthly
RandomizedDelaySec=12h
AccuracySec=20min
Persistent=true

[Install]
WantedBy=timers.target
