---
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Poetry
        run: pipx install poetry
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          cache: poetry
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies (Poetry)
        run: poetry install
      - name: Install dependencies (Yarn)
        run: yarn
      - name: Install Shellcheck
        run: sudo apt-get install -y shellcheck
      - name: Lint with Shellcheck
        run: yarn shellcheck
      - name: Lint with mypy
        run: yarn mypy
      - name: Lint with pylint
        run: yarn pylint
      - name: Check spelling
        run: yarn check-spelling
      - name: Check formatting
        run: yarn check-formatting
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
name: QA
'on':
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
